@page
@model RazorPage.Pages.AnimesPage.IndexModel
@{
    ViewData["Title"] = "Lista";
}


<p>
    <a class="btn btn-success" asp-page="Create">Crear Nuevo Nombre</a>
</p>

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nombres</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Anime)
        {
            <tr>
                <td>

                    @item.Id
                </td>
                <td>

                    @item.Nombre
                </td>

                <td>
                    <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.Id">Editar</a>|
                    <a class="btn btn-danger" asp-page="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>

            </tr>







        }



    </tbody>















</table>